<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Having trouble with sleep at night?</h2>
                <hr class="light">
                <p class="text-faded">At SK Monde we make high quality silk bedsheets with a passion. We genuinely believe that everyone should try and experience the heavenly touch of silk sheets on their skin for their night rest. Believe us once you try our silk sheets, you will never want to sleep in anything else!</p>
                <a href="#preorder" class="btn btn-default btn-xl">Pre-order soon!</a>
            </div>
        </div>
    </div>
</section>
